.wrapper
  = render 'shared/side_bar'

.main
  .main__header
    .main__header-group
      .main__header-group-name
        グループ名が表示される
      .main__header-group-edit-btn{href: '/'}
        Edit
      .main__header-member
        メンバー名が表示される

  .messages
    = render partial: 'message', collection: @messages


  .main__form
    = form_for [@group, @message], html: { class: 'new_message' } do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      / .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
