.wrapper
  = render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header-group
      .chat-main__header-group-name
        = @group.name

      = link_to 'edit','edit', class: 'chat-main__header-group-edit-btn'
      .chat-main__header-members
        Member：
        - @group.users.each do |user|
          = user.name
  .messages
    = render @messages


  .main__form
    = form_for [@group, @message], html: { class: 'new_message' } do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
